# ROS 2 generated directories
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Generated TF graphs
frames_*.gv
frames_*.pdf

# Python cache
__pycache__/
*.pyc

# Local backup files
*_backup.py
*_working.py
*_stable.py
*_working.launch.py
*_stable.yaml
